* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5789e4;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ul {
  list-style: none;
  list-style-type: none;
}

.header {
  font-family: Roboto, sans-serif;
  max-width: 100% !important;
  margin: 0 auto;
  background-color: #4369b2;
  color: #fff;
}

.heading {
  letter-spacing: -1px;
}

.icons {
  position: absolute;
  right: 16px;
  top: 22px;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}

.bg-image {
  background-image: url('./assets/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color {
  background-color: #5789e4;
}

.bg-color1 {
  background-color: #35548b;
}

.countries-container {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.countries {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 10rem;
  margin: 16px 0 16px 0;
  padding: 0.8rem 1.2rem 0.8rem 0.8rem;
  background-color: #35548b;
  box-shadow:
    0 0 16px #2e2e2e,
    0 0 16px hsl(0deg 0% 42%),
    inset 0 0 16px hsl(0deg 0% 0%),
    inset 0 0 16px #3e62a4;
}

.navigate {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  border: none;
  background-color: transparent;
  color: #fff;
}

.arrow-right {
  color: #fff;
  font-size: 25px;
  position: absolute;
  left: 24px;
  top: 30px;
}

.arrow-left {
  color: #fff;
  font-size: 25px;
  position: absolute;
  left: 16px;
  top: 22px;
}
